/* debug */
body {
    width: 75%;
    margin: 30px auto;
}

nav {
    height: 142px;
    background-color: #E679E6;
}

.banner {
    height: 502px;
    background-color: #E1D67A;
}

main {
    height: 670px;
    background-color: #0786F2;
}

#nav {
    height: 86px;
    background-color: #ABCFE7;
}

aside.left,
aside.right {
    float: left;
    width: 23%;
    height: 538px;
    background-color: #ABCFE7;
}

article {
    float: left;
    width: 50%;
    height: 538px;
    margin: 0 2%;           
    background-color: #ABCFE7;
}

footer {
    height: 62px;
    background-color: #8803FE;
}

/* /debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.clearfix::after {
    content: "";
    display:table;
    clear: both;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}
/* /common */





